modules = ["nodejs-20", "web"]
run = "node index.js"

[nix]
channel = "stable-25_05"

[deployment]
run = ["sh", "-c", "node index.js"]
build = ["sh", "-c", "cd project && npm run build"]

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 5173
externalPort = 3000
exposeLocalhost = true

[workflows]
runButton = "Development"

[[workflows.workflow]]
name = "Development"
author = 46678806
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd project && npm install && npm run dev"
